.header {
  color: rgb(187, 0, 25);
  display: grid;
  grid-template-columns: 80px 160px 2.5fr 1fr 200px;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 1%;
  text-align: center;
  background-color: rgb(16, 9, 9);
}
.header-title {
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.header-library {
  color: white;
  font-size: 1.5rem;
}
.header-tube {
  color: red;
  letter-spacing: 5px;
}
.header-gif {
  max-height: 10vh;
  border-radius: 10px;
}

.header-search,
.header-addbuttons {
  border-right: 1px solid rgb(77, 77, 77);
  margin: 2%;
  padding-right: 5%;
}

.search {
  border: 1px solid rgb(129, 129, 130);

  padding: 2%;
}
